body {
    background-color: lightskyblue;
}

.susanne {
    width: 8%;
    height: 8%;
    border-radius:20px;
    position: relative;
}

/* Navbar */

header {
    /*max-width: 100%;*/
    font-family: 'Rokkitt', serif;
    font-weight: 400;
  }
 /* 
  .school {
    display: inline-block;
    margin: 10px 5px;
    padding-bottom: 20px;
  }
  
  .nav img {
    width: 220px;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .nav ul {
    float: right;
    margin: 15px 5px;
  }
  
  .nav li {
    display: inline-block;
    padding: 0 8px;
  }
 
  .nav a:hover {
    border-bottom: 1px solid #fcfcfc;
  }
*/
/* @media (max-width: 532px) {
    .nav ul {
        display: none;
    }
  }*/
  h1 {
    font-family: 'Amatic SC', cursive; 
    font-size: xx-large;

  }
  h2 {
    font-family: 'Amatic SC', cursive; 
    text-align: center;
  }
  p {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
  }
  body {
    font-family: 'Ubuntu', sans-serif;
    width:960px;
  }
  
  p{
    color:#525252;
    font-size:12px;
  }

  /* site nav */

  @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  float:left;
  font-family: 'Open Sans Condensed', sans-serif;
}

.boxes {
float:left;
display:flex;

}

div[class*=box] {
  height: 10%;
  width: 100%; 
  display: left;
  justify-content: center;
  align-items: center;
}

.boxes { background-color: deepskyblue; }

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 120px;
    cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn span {
    transition: all 0.3s;
}
.btn ::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn:hover span {
    letter-spacing: 2px;
}
.btn:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}


  
  /* Skills Bar */

  #skill { 
    list-style: none;
    font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 296px;
    margin: 50px auto 0;
    position: relative;
    line-height: 2em;
    padding: 30px 0;
  }
  
  #skill li { 
    margin-bottom:50px; 
    background:#e9e5e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
    height:20px; 
    border-radius:10px; 
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
  }
  
  #skill li h3 { 
    position:relative; 
    top:-25px;
  }
  
  .bar { 
    height:18px; 
    margin:1px 2px;  
    position:absolute;
    border-radius:10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
  }
  
  .HTML {
    width:100%; 
    -moz-animation:HTML 2s ease-out;
    -webkit-animation:HTML 2s ease-out;
    background-color: #f674a4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
    background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
    background-image: -moz-linear-gradient(top, #f674a4, #e06995);
    background-image: -ms-linear-gradient(top, #f674a4, #e06995);
    background-image: -o-linear-gradient(top, #f674a4, #e06995);
    background-image: linear-gradient(top, #f674a4, #e06995);
  }
  
  .CSS {
    width:90%;
    -moz-animation:CSS 2s ease-out;
    -webkit-animation:CSS 2s ease-out;
    background-color: #f0bb4b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
    background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: linear-gradient(top, #f0bb4b, #d9aa44);
  }
  
  .JS {
    width:65%;
    -moz-animation:JS 2s ease-out;
    -webkit-animation:JS 2s ease-out;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
  }
  
  .Problemsolver {
    width:80%;
    -moz-animation:Problem Solver 2s ease-out;
    -webkit-animation:Problem Solver 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)	
  }
  
  .B2B {
    width:80%;
    -moz-animation:Problem Solver 2s ease-out;
    -webkit-animation:Problem Solver 2s ease-out;
    background-color:#800080;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#800080), to#590059));
    background-image: -webkit-linear-gradient(top, #800080, #590059);
    background-image: -moz-linear-gradient(top, #800080, #590059;
    background-image: -ms-linear-gradient(top, #800080, #590059);
    background-image: -o-linear-gradient(top, #800080, ##590059);
    background-image: linear-gradient(top,#800080, #590059)	
  }

  @-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:100%;}  }
  @-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
  @-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
  @-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }
  
  @-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:100%;}  }
  @-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
  @-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
  @-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }
  